.component-form-container {
  background: white;
  display: flex;
  flex: 1;
  border: 1px solid var(--lightBorder);
  padding: 10px;
}

.component-form-input {
  width: 70%;
  border: none;
  padding-left: 10px;
}

.component-form-input:focus {
  outline: none;
}

.component-form-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--blue);
  font-weight: 600;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.component-form-button:hover {
  opacity: 1;
}
